<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regisztráció</title>
</head>
<body>
    <h1>Regisztráció</h1>
    <form
            data-th-object="${newuser}"
            method="post"
            data-th-action="@{/registration}"
            action="/registration"
    >
        <label for="firstName">Keresztnév</label>
        <input id="firstName" type="text" data-th-field="*{firstName}">
        <p
                style="color: red;"
                data-th-if="${#fields.hasErrors('firstName')}"
                data-th-errors="*{firstName}"
        ></p>

        <label for="lastName">Vezetéknév</label>
        <input id="lastName" type="text" data-th-field="*{lastName}">
        <p
                style="color: red;"
                data-th-if="${#fields.hasErrors('lastName')}"
                data-th-errors="*{lastName}"
        ></p>

        <label for="email">E-mail</label>
        <input id="email" type="email" data-th-field="*{email}">
        <p
                style="color: red;"
                data-th-if="${#fields.hasErrors('email')}"
                data-th-errors="*{email}"
        ></p>

        <label for="password">Jelszó</label>
        <input id="password" type="text" data-th-field="*{password}">
        <p
                style="color: red;"
                data-th-if="${#fields.hasErrors('password')}"
                data-th-errors="*{password}"
        ></p>

        <input type="submit" value="Ment">
    </form>

</body>
</html>